body {
    display: flex;
    margin: 0;
    padding-top: 64px;
    color: #56435a;

    h2 {
        margin: 0;
    }

    header {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        display: flex;
        height: 64px;
        width: 100vw;
        padding: 12px 24px;
        justify-content: space-between;
        align-content: center;
        background: #fbebea;

        .header-left {
            display: flex;
            align-content: center;
            gap: 48px;

            .main-title {
                display: flex;
                align-items: center;
            }

            nav {
                .nav-container {
                    display: flex;
                    gap: 12px;
                    padding: 0;
                    margin: 0;

                    .nav-item {
                        height: 40px;
                        line-height: 40px;
                        list-style: none;

                        &:hover {
                            background: #56435a;
                            border-radius: 6px;

                            a {
                                color: #fbebea;
                            }
                        }

                        a {
                            display: inline-block;
                            padding: 0 12px;
                            text-decoration: none;
                            color: #56435a;
                            font-size: 18px;
                        }
                    }
                }
            }

        }

        .header-right {
            display: flex;
            align-content: center;
        }
    }

    aside {
        position: sticky;
        top: 64px;
        width: 220px;
        height: calc(100vh - 64px);
        background: aquamarine;
    }

    main {
        flex: 1;

        .main-container {
            padding: 16px 24px;

            background: yellow;

        }

        footer {
            background: blueviolet;
        }
    }
}